 <div>

   <div class="row">
    <div class="col-md-2 pageTitle">
      <b>GitHub User Search</b>
    </div>
    <div class="col-md-10 center">
      <input [(ngModel)]="searchText" (keyup.Enter)="getResults(); isDirty" placeholder="Search for a user..." />
    </div>
    <hr>
   </div>

   <div *ngIf="!isDirty" class="center">
    <h3>Welcome! Enter a name or email to begin.</h3>
   </div>

    <div *ngIf="isDirty">
      <table style="width: 100%;">
        <tr>
          <th></th>
          <th><b>Username</b></th>
          <th><b>Location</b></th>
          <th><b>Name</b></th>
          <th><b>Email</b></th>
          <th><b>Public Repos</b></th>
          <th><b>Account Created</b></th>
          <th><b>Last Update</b></th>
        </tr>
        <tr *ngFor="let user of users | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems };">
          <td ><img class="profilePic" src={{user.avatar_url}} /></td>
          <td class="center"><a class="link" href={{user.html_url}} target="_blank">{{user.login}}</a></td>
          <td class="center">{{user.location}}</td>
          <td class="center">{{user.name}}</td>
          <td class="center"><a class="link" href="mailto:{{user.email}}">{{user.email}}</a></td>
          <td class="center">{{user.public_repos}}</td>
          <td class="center">{{user.created_at | date: 'medium'}}</td>
          <td class="center">{{user.updated_at | date: 'medium'}}</td>
        </tr>
      </table>
      <hr />
      <pagination-controls
        style="text-align: right;"
        (pageChange)="newPageChange($event)"
        previousLabel="Back">
      </pagination-controls>
    </div>

</div>
