 <div>
   <div class="row">
    <div class="col-md-2 pageTitle">
      <b>GitHub User Search</b>
    </div>
    <div class="col-md-10" style="text-align: center;">
      <input [(ngModel)]="searchText" placeholder="Search for a user..." />
    </div>
   </div>

  <table>
    <tr>
      <th></th>
      <th><b>Login</b></th>
    </tr>
    <tr *ngFor="let user of users | async | filter: searchText | paginate: {itemsPerPage: 10, currentPage: page}; let i = index">
      <td hidden>{{i}}</td>
      <td><img class="profilePic" src={{user.avatar_url}} /></td>
      <td style="text-align: center;"><a class="link" href={{user.html_url}}>{{ user.login }}</a></td>
    </tr>
  </table>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
